/* @critical */

@use "styles/abstracts/colors" as *;
@use "styles/abstracts/spacings" as *;
@use "styles/abstracts/mixins" as *;

.aside-component {
  padding-top: $spacing-300;
  border-top: 1px solid $br-fourth;

  @include breakpoint-sm {
    padding-top: 0;
    border-top: 0 none;
    border-left: 1px solid $br-fourth;
    min-width: 340px;
    max-width: 340px;
  }

  @include breakpoint-md {
    min-width: 300px;
    max-width: 300px;
  }

  @include breakpoint-xl {
    min-width: 360px;
    max-width: 360px;
  }
}

.aside-content {
  @include breakpoint-xs {
    align-self: flex-start;
  }
}
