/* @critical */

@use "styles/abstracts/colors" as *;
@use "styles/abstracts/spacings" as *;
@use "styles/abstracts/mixins" as *;

.contents {
  @include breakpoint-md {
    max-height: calc(100vh - 57px);
    overflow-y: auto;
  }
}

.three-columns {
  flex-direction: column;
  gap: $spacing-200;
  @include breakpoint-md {
    flex-direction: row;
    gap: 0;
  }

  & > main {
    gap: $spacing-250;
    @include breakpoint-md {
      padding-right: $spacing-400;
      padding-left: $spacing-400;
      gap: $spacing-400;
    }
  }
}
