@use "sass:math";

@function strip-units($number) {
  @return math.div($number, ($number * 0 + 1));
}

@function toRem($value) {
  $remValue: math.div(strip-units($value), 16) * 1rem;
  @return $remValue;
}
