@use "sass:map";
@use "sass:list";

@use "./breakpoints";

// Breakpoints
@mixin breakpoint($map) {
  $query: "";

  @if map.has-key($map, min) {
    $query: list.append($query, "(min-width: #{map.get($map, min)})");
  }
  @if map.has-key($map, min) and map.has-key($map, max) {
    $query: list.append($query, "and");
  }
  @if map.has-key($map, max) {
    $query: list.append($query, "(max-width: #{map.get($map, max)})");
  }

  @media #{$query} {
    @content;
  }
}

@mixin breakpoint-xxs() {
  @include breakpoint(breakpoints.$bp-xxs) {
    @content;
  }
}
@mixin breakpoint-xs() {
  @include breakpoint(breakpoints.$bp-xs) {
    @content;
  }
}
@mixin breakpoint-sm() {
  @include breakpoint(breakpoints.$bp-sm) {
    @content;
  }
}
@mixin breakpoint-md() {
  @include breakpoint(breakpoints.$bp-md) {
    @content;
  }
}
@mixin breakpoint-lg() {
  @include breakpoint(breakpoints.$bp-lg) {
    @content;
  }
}
@mixin breakpoint-xl() {
  @include breakpoint(breakpoints.$bp-xl) {
    @content;
  }
}
@mixin breakpoint-xxl() {
  @include breakpoint(breakpoints.$bp-xxl) {
    @content;
  }
}
@mixin breakpoint-smallsmart() {
  @include breakpoint(breakpoints.$bp-smallsmart) {
    @content;
  }
}
@mixin breakpoint-smart() {
  @include breakpoint(breakpoints.$bp-smart) {
    @content;
  }
}
@mixin breakpoint-desk() {
  @include breakpoint(breakpoints.$bp-desk) {
    @content;
  }
}
